body{background-color: black; margin:0;}
header{background-color:black; float:left; width:100%; margin-right:30px; margin-top:58px;flex-direction:row;}
@media screen and (max-width:425px){header{flex-direction:column;}}
.pict{background-image: url(../images/pic1.png); width:320px; height:400px; float:left;width:40%}
@media screen and (max-width:425px){.pict{text-align:center;width:100%}}
.nmsrnm{background-color: black; float:right; width:60%;}
@media screen and (max-width:425px){.nmsrnm{text-align:center;width:100%}}
@media screen and (max-width:768px){.nmsrnm{text-align:center;width:100%}}
.abms{background-color: black; float:right; width:30%;}
@media screen and (max-width:425px){.abms{text-align:center;width:100%}}
@media screen and (max-width:768px){.abms{text-align:center;width:100%}}
.lkdslk{background-color: black; float:right; width:30%;}
@media screen and (max-width:425px){.lkdslk{text-align:center;width:100%}}
@media screen and (max-width:768px){.lkdslk{text-align:center;width:100%}}
body {margin:0; color:white}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 880px;
  margin: 0 auto 30px;
}
.one ul {
  padding: 1em 0;
  background: #ECDAD6;
}
.one a {
  padding: 1em;
  background: rgba(177, 152, 145, .3);
  border-right: 1px solid #b19891;
  color: #695753;
}
.one a:hover {background: #b19891;}
.one li {
  display: inline;
}